.footer {
  width: 90%;
  height: 281px;
  background-color: #171B29;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__contenedor__marca {
  color: #fff;
  margin: 0px 0px 16px 0px;
}

.footer__contenedor__copyright {
  color: #fff;
  margin: 0px;
}

@media(width <= 455px){
  .footer {
    width: 100%;
    height: 281px;
    background-color: #171B29;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}