.footer {
  width: 90%;
  height: 281px;
  background-color: #171B29;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__contenedor {
  margin: 137px 538px 93px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__contenedor__marca {
  color: #fff;
  margin: 0px 0px 16px 0px;
}

.footer__contenedor__copyright {
  color: #fff;
  margin: 0px;
}

@media (max-width: 375px) {
  .footer {
    width: 375px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__contenedor {
    width: 303px;
    height: 93px;
    margin: 115px 37px 96px 36px;
  }
}