.hero {
    top: 0px;
    left: 0px;
    width: 90%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor {
    margin: 35px 33px;
    width: 100%;
    height: 580px;
    background-image: url('./img/hero.png');
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 33px 0px 33px;
    border-radius: 10px;

}

.contenedor__logo {
    margin: 12rem 27.625rem 0px 27.625rem;
    width: 25.9375rem;
    height: 9.9375rem;
    background-image: url('./img/IF-NOX.png');
    position: absolute;
}

.contenedor__titulo {
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    margin: 12px 418px 16px 417px;
    width: 466px;
    height: 76px;
    position: relative;
    top: 21.5rem;
}

.contenedor__frase {
    margin: 0px 10% 77px 10%;
    height: 44px;
    width: 560px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 21rem;
    text-align: center;
}


@media (max-width: 550px) {
    .hero {
        top: 0px;
        left: 0px;
        height: 650px;
    }

    .contenedor {
        background-image: url('./img/fondo-hero.png');
        background-size: cover;
        height: 40.625rem;
        margin: 24px 0px 0px 0px;
    }

    .contenedor__logo {
        background-image: url('./img/IF-NOX-pequeno.png');
        background-size: cover;
        width: 207px;
        height: 286px;
        margin: 130px 70px 0px 63px;
    }

    .contenedor__titulo {
        font-size: 40px;
        text-align: center;
        color: #fff;
        margin: 16px 20px;
        width: 335px;
        height: 55px;
        position: relative;
        top: 25.5rem;
    }

    .contenedor__frase {
        margin: 15px 23px 52px 15px;
        width: 302px;
        height: 96px;
        color: #fff;
        font-size: 18px;
        position: relative;
        top: 24rem;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .hero {
        top: 0px;
        left: 0px;
        height: 650px;
    }

    .contenedor {
        background-image: url('./img/fondo-hero.png');
        background-size: cover;
        height: 40.625rem;
    }

    .contenedor__logo {
        background-image: url('./img/IF-NOX-pequeno.png');
        background-size: cover;
        width: 207px;
        height: 286px;
        margin: 130px 70px 0px 63px;
    }

    .contenedor__titulo {
        font-size: 2rem;
        text-align: center;
        color: #fff;
        margin: 16px 20px;
        width: 335px;
        height: 55px;
        position: relative;
        top: 25.5rem;
    }

    .contenedor__frase {
        margin: 15px 23px 52px 15px;
        width: 302px;
        height: 96px;
        color: #fff;
        font-size: 1rem;
        position: relative;
        top: 24rem;
        text-align: center;
    }
}