.mision {
  width: 1300px;
  height: 400px;
  background-color: #206488;
  border-radius: 10px;
  margin: 72px 33px 34px 33px;
}

.mision__contenedor {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mision__contenedor__textos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 89px 167px 70px 133px;
}

.mision__contenedor__grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 72px 143px 72px 0px;
}

.mision__contenedor__textos__titulo {
  font-size: 48px;
  text-align: start;
  color: #fff;
}

.mision__contenedor__textos__parrafo {
  width: 1000px;
  height: 152px;
  font-size: 16px;
  text-align: start;
  color: #fff;
  margin: 24px 167px 70px 133px;
}

.mision__contenedor__grilla__fila-1 {
  width: 528px;
  height: 200px;
  margin: 0px 0px 24px 0px;
}

.mision__contenedor__grilla__fila-2 {
  margin: 0px;
}

.mision__contenedor__grilla__fila-1__imagen-1 {
  margin: 0px 24px 24px 0px;
}

.mision__contenedor__grilla__fila-1__imagen-2 {
  margin: 0px 0px 24px 0px;
}

.mision__contenedor__grilla__fila-1__imagen-3 {
  margin: 0px;
}
