.hero {
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor {
    margin: 35px 33px;
    width: 1300px;
    height: 580px;
    background-image: url('./img/hero.png');
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 33px 0px 33px;
    border-radius: 10px;

}

.contenedor__logo {
    margin: 219px 442px 0px 442px;
    width: 415px;
    height: 159px;
}

.contenedor__titulo {
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin: 12px 418px 16px 417px;
    width: 466px;
    height: 76px;
}

.contenedor__frase {
    margin: 0px 371px 122px 369px;
    width: 560px;
    height: 44px;
    color: #fff;
    font-size: 16px;
}