.planes {
    width: 100%;
    max-width: 1250px;
    height: 1300px;
    background-color: #24262B;
}

.planes__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 1300px;
}

.planes__contenedor__texto {
    width: 666px;
    height: 133px;
    text-align: center;
    margin: 72px 350px 96px;
}

.planes__contenedor__texto h2, .planes__contenedor__texto h3 {
    font-family: var(--tipografia-ppal);
}

.planes__contenedor__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.planes__contenedor__cards__card {
    width: 313px;
    height: 950px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin: 0px 15px 49px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: #24262B;
    margin: 0px 7.5px;
    box-shadow: -4px -4px 10px #FFFFFF33;
}

.planes__contenedor__cards__card__bloque-1 {
    margin: 44px 42px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.planes__contenedor__cards__card__bloque-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 220px;
}

.bloque-1__titulo {
    color: #FFFFFF;
    font-size: 32px;
    opacity: 1;
    background: none;
    margin: 0px 0px;
}

.bloque-1__titulo-2 {
    color: #FFFFFF;
    font-size: 32px;
    opacity: 1;
    background: none;
    margin: 24px 0px 0px 0px;
}

.bloque-1__subtitulo-1 {
    color: #FFFFFF;
    font-size: 16px;
    margin: 28px 0px 0px 0px;
}

.bloque-1__subtitulo-2 {
    color: #FFFFFF;
    font-size: 16px;
}

.bloque-1__boton {
    border-radius: 24px;
    width: 144px;
    height: 48px;
    background: transparent linear-gradient(108deg, #206488 0%, #0799B6 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    border: #0799B6;
    font-size: 16px;
    padding: 13px 33px;
    margin: 53px 0px 0px 0px;
}

.planes__contenedor__texto__titulo {
    color: #FFFFFF;
    font-size: 48px;
}

.planes__contenedor__texto__subtitulo {
    color: #FFFFFF;
    font-size: 16px;
}

.bloque-2__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.bloque-2__subtitulo-1 {
    color: #FFFFFF;
    font-size: 16px;
}

.bloque-2__subtitulo-2, .bloque-2__subtitulo-3, .bloque-2__subtitulo-4 {
    color: #FFFFFF;
    font-size: 16px;
}

.check-1, .check-2, .check-3 {
    color: #FFFFFF;
    font-size: 32px;
    margin-right: 16px;
}

/*-------------------medias queries------------------*/


@media screen and (width <= 600px) {
    .planes {
        background-color: lightgreen;
        width: 100%;
    }

    .planes__contenedor {
        max-width: 600px;
        width: 100%;
        height: auto;
    }

    .planes__contenedor__texto {
        width: 100%;
        height: auto;
        text-align: left;
        /* margin: 72px 350px 96px; */
        background-color: lightgreen;
    }

    .planes__contenedor__texto__titulo {
        font-size: 48px;
        line-height: 58px;
    }

    .planes__contenedor__texto__subtitulo {
        text-align: center;
        font-size: 16px;
    }

    .planes__contenedor__cards {
        height: 915px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

}






@media screen and (width <= 450px) {
    .planes {
        background-color: lightcoral;
        width: 100%;
    }
}

