.servicios h1{
  color: white;
}

.servicios p{
  color: white;
}

.servicios{
  width: 1300px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: #0799B6;
  border-radius: 10px;
  margin: 0px 33px 50px;
}

.servicios__encabezado{
  margin-inline: auto;
}

.titulo{
font-size: 48px;
text-align: center;
}

.parrafo{
  font-size: 16px;
  padding-inline: 19%;
}

.servicios__cards{
  margin: 3% 0;
  padding: 0 143px
}

.card{
  margin: 3% 1.5%;
  width: 45%;
  display: inline-flex;
}

.card__textos{
  position: relative;
  top: -15px;
}

.card__titulo{
  font-size: 24px;
  text-align: start;
}

.card__parrafo{
  position: relative;
  top: -5px;
  font-size: 16px;
  text-align: start;
}

.card__img{
  width: 160px;
  height: 160px;
  padding-right: 4%;
}