.nosotros {
    background-color: #171B29;
    width: 90%;
    margin-top: 2rem;
}

.nosotros__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.nosotros__contenedor__imagenes-chicas__texto {
    width: 478px;
    height: 195px;
    margin: 69px 151px 75px 42px;

}

.nosotros__contenedor__imagenes-chicas__texto__titulo {
    font-size: 48px;
    color: #FFFFFF;
}

.nosotros__contenedor__imagenes-chicas__texto__subtitulo {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px 0px 56px 0px;
}

.nosotros__contenedor__imagen-grande__imagen {
    width: 42rem;
    height: 42rem;
    margin: 0px 42px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 401px;
    height: 401px;
    margin: 75px 128px 140px 81px;
}

.contenedor-imagen-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-imagen-2 {
    display: flex;
    flex-direction: column;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
    width: 183px;
    height: 183px;
    margin: 0px 33px 35px 0px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-2 {
    margin: 0px 0px 35px 0px;

}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
    margin: 0px 33px 66px 0px;
    width: 184px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
    margin: 0px;
    width: 184px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__texto__subtitulo {
    width: 478px;
}

.imagen-texto {
    position: absolute;
    z-index: 4;
    top: 385rem;
}

.imagen-texto__nombre {
    color: #FFFFFF;
    font-size: 56px;
    margin: 0px 168px 0px 167px;
}

.imagen-texto__puesto {
    color: #FFFFFF;
    font-size: 30px;
    margin: 1px 214px 52px;
}

@media(width <=1580px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 9rem;
        height: 9rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 9rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 9rem;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 30rem;
        height: 30rem;
    }
}

@media(width <=1350px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8rem;
        height: 8rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8rem;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 25rem;
        height: 25rem;
    }
    .nosotros__contenedor__imagenes-chicas__texto{
        width: 29.875rem;
        height: 12.1875rem;
        margin: 4.3125rem 2.625rem 4.6875rem 2.625rem;
    }
}

@media(width <=1150px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8rem;
        height: 8rem;
        margin: 30px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8rem;
        margin: 30px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8rem;
        margin: 30px;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 25rem;
        height: 25rem;
        padding-left: 13%;
    }
    .nosotros__contenedor__imagenes-chicas__texto{
        width: 29.875rem;
        height: 12.1875rem;
        margin: 4.3125rem 2.625rem 4.6875rem 2.625rem;
    }
}

@media(width <=992px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8rem;
        height: 8rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 21rem;
        height: 21rem;
        padding-left: 30%;
        margin: 0px 0px;
    }
    .nosotros__contenedor__imagenes-chicas__texto{
        width: 29.875rem;
        height: 12.1875rem;
        margin: 4.3125rem 1rem 4.6875rem 1rem;
    }
}

@media(width <=870px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8.6rem;
        height: 8.6rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8.6rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8.6rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
        position: absolute;
        top: 25%;
        left: 29%;
    }
    .nosotros__contenedor__imagenes-chicas__texto{
        width: 100%;
        height: 12.1875rem;
        margin: 0rem;
    }
    .nosotros__contenedor{
        flex-direction: column;
        position: relative;
    }
    .nosotros__contenedor__imagenes-chicas__imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 60%;
        margin: 5rem 0rem 5rem 9rem; 
    }
    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0px 0px 0px 24%;
        width: 55%;
    }
    .nosotros__contenedor__imagenes-chicas__texto__titulo {
        font-size: 3rem;
        color: #FFFFFF;
        text-align: center;
    }
}

@media(width <= 780px){
    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
        position: absolute;
        top: 25%;
        left: 25%;
    }
    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 70%;
        margin: 0px 0px 0px 18%;
    }
    .nosotros__contenedor__imagenes-chicas__imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 60%;
        margin: 5rem 0rem 5rem 7rem; 
    }
}
@media(width <= 700px){
    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
        position: absolute;
        top: 24%;
        left: 20%;
    }
    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 75%;
        margin: 0px 0px 0px 15%;
    }
    .nosotros__contenedor__imagenes-chicas__imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 60%;
        margin: 5rem 0rem 5rem 5rem; 
    }
}
@media(width <= 600px){
    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
        position: absolute;
        top: 24%;
        left: 15%;
    }
     .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 75%;
        margin: 0px 0px 0px 12%;
    }
    .nosotros__contenedor__imagenes-chicas__texto{
        width: 100%;
        height: 12.1875rem;
        margin: 0rem 0rem;
    }
    .nosotros__contenedor__imagenes-chicas__imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 60%;
        margin: 5rem 0rem 5rem 2.5rem; 
    }
}

@media(width <= 500px){
    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0px 0px 0px 10%;
        width: 80%;
        text-align: center;
    }
    .nosotros__contenedor__imagenes-chicas__texto__titulo {
        color: #FFFFFF;
        text-align: center;
        font-size: 2.5rem;
    }
    .nosotros__contenedor__imagen-grande__imagen {
        top: 20%;
    }
}
@media(width <= 455px){
    .nosotros__contenedor__imagen-grande__imagen {
        width: 21rem;
        height: 21rem;
        padding-left: 0%;
        margin: 0px 0px;
        position: absolute;
        top: 22%;
        left: 5%;
    }
    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0px 0px 0px 0%;
        width: 95%;
        text-align: center;
    }
    .nosotros{
        width: 100%;
    }
}
