.nosotros {
    background-color: #171B29;
    width: 90%;
    margin-top: 2rem;
}

.nosotros__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}


.nosotros__contenedor__imagenes-chicas__texto {
    width: 478px;
    height: 195px;
    margin: 69px 151px 75px 42px;

}

.nosotros__contenedor__imagenes-chicas__texto__titulo {
    font-size: 48px;
    color: #FFFFFF;
}

.nosotros__contenedor__imagenes-chicas__texto__subtitulo {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px 0px 56px 0px;
}

.nosotros__contenedor__imagen-grande__imagen {
    width: 672px;
    height: 672px;
    margin: 0pxpx 42px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 401px;
    height: 401px;
    margin: 75px 128px 140px 81px;
}

.contenedor-imagen-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-imagen-2 {
    display: flex;
    flex-direction: column;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
    width: 183px;
    height: 183px;
    margin: 0px 33px 35px 0px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-2 {
    margin: 0px 0px 35px 0px;

}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
    margin: 0px 33px 66px 0px;
    width: 184px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
    margin: 0px;
    width: 184px;
    transition: all 0.3s;
}

.nosotros__contenedor__imagenes-chicas__texto__subtitulo {
    width: 478px;
}

.imagen-texto {
    position: absolute;
    z-index: 4;
    top: 385rem;
}

.imagen-texto__nombre {
    color: #FFFFFF;
    font-size: 56px;
    margin: 0px 168px 0px 167px;
}

.imagen-texto__puesto {
    color: #FFFFFF;
    font-size: 30px;
    margin: 1px 214px 52px;
}

@media (max-width: 375px) {
    .nosotros {
        width: 375px;
        height: 1087px;
    }

    .nosotros__contenedor {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 345px;
        height: 345px;
    }

    .nosotros__contenedor__imagenes-chicas {}


    .nosotros__contenedor__imagenes-chicas__texto {
        width: 302px;
        height: 132px;
        text-align: start;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes {
        width: 302px;
        height: 302px;
        margin: 25px 36px 92px;
        align-items: center;
    }

    .nosotros__contenedor__imagenes-chicas__texto__titulo {
        font-size: 34px;
        width: 302px;
        height: 46px;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 16px;
        width: 302px;
        height: 70px;
    }

    .nosotros__contenedor__imagenes-chicas {
        width: 302px;
        height: 302px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 139px;
        height: 139px;
        margin: 0px 0px 26px 0px;
    }


    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 139px;
        height: 139px;
        margin: 0px 0px 25px 25px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        /* margin: 0px; */
        width: 139px;
        height: 139px;
        margin: 0px 0px 0px 25px;
    }
}

.img-transition {
    opacity: 1; /* Inicialmente visible */
    transition: opacity 0.5s ease-in-out; /* Transición suave durante 0.5 segundos */
  }