.mision {
  width: 90%;
  height: 400px;
  background-color: rgba(32, 100, 136, 0.5);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 10px;
  margin: 72px 33px 34px 33px;
}

.mision__contenedor {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mision__contenedor__textos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 28px 9rem 70px 9rem;
}

.mision__contenedor__grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 72px 143px 72px 0px;
}

.mision__contenedor__textos__titulo {
  font-size: 3rem;
  text-align: start;
  color: #fff;
}

.mision__contenedor__textos__parrafo {
  height: 152px;
  font-size: 16px;
  text-align: start;
  color: #fff;
  margin: 25px 150 59px;
}

@media(width <=1030px) {
  .mision {
    width: 90%;
    height: 500px;
    background-color: rgba(32, 100, 136, 0.5);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 10px;
    margin: 72px 33px 34px 33px;
  }
}
@media(width <=760px) {
  .mision {
    width: 90%;
    height: 600px;
    background-color: rgba(32, 100, 136, 0.5);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 10px;
    margin: 72px 33px 34px 33px;
  }
}

@media(width <=704px) {
  .mision__contenedor__textos__titulo {
    text-align: center;
  }

  .mision__contenedor__textos {
    margin: 3rem 5rem 5rem 5rem;
  }

  .mision {
    height: 100%;
  }

  .mision__contenedor {
    height: 100%;
  }

  .mision__contenedor__textos__parrafo {
    height: 100%;
  }
}

@media(width <=450px) {
  .mision__contenedor__textos__titulo {
    text-align: center;
  }

  .mision__contenedor__textos {
    margin: 3rem 3rem 5rem 3rem;
  }

  .mision {
    height: 100%;
  }

  .mision__contenedor {
    height: 100%;
  }
}

@media (max-width: 375px) {
  .mision {
    width: 340px;
    height: 568px;
    background-color: #206488;
    border-radius: 10px;
    margin: 53px 14.5px 50px 20px;
  }

  .mision__contenedor {
    width: 340px;
    height: 400px;
  }

  .mision__contenedor__textos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 43px 21.5px 34px 18.5px;
    width: 300px;
    height: 323px;
  }

  .mision__contenedor__textos__titulo {
    font-size: 34px;
    text-align: center;
    width: 173px;
    height: 90px;
  }

  .mision__contenedor__textos__parrafo {
    width: 300px;
    height: 221px;
    font-size: 16px;
    text-align: center;
    margin: 12px 21.5px 34px 18.5px;
  }
}