.nosotros {
    background-color: #171B29;
    width: 90%;
    margin-top: 2rem;
}

.nosotros__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.nosotros__contenedor__imagenes-chicas__texto {
    width: 478px;
    height: 195px;
    margin: 69px 151px 75px 42px;

}

.nosotros__contenedor__imagenes-chicas__texto__titulo {
    font-size: 48px;
    color: #FFFFFF;
}

.nosotros__contenedor__imagenes-chicas__texto__subtitulo {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px 0px 56px 0px;
}

.nosotros__contenedor__imagen-grande__imagen {
    width: 42rem;
    height: 42rem;
    margin: 0px 42px;
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nosotros__contenedor__imagen-grande {
    position: relative;
}

.nosotros__contenedor__imagenes-chicas__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 401px;
    height: 401px;
    margin: 75px 128px 140px 81px;
}

.contenedor-imagen-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-imagen-2 {
    display: flex;
    flex-direction: column;
}

.contenedor-imagen-1__nombre {
    position: absolute;
    top: 67%;
    left: 28%;
    font-size: 3.5rem;
}

.contenedor-imagen-1__puesto {
    position: absolute;
    font-size: 1.875rem;
    color: white;
    top: 81%;
    left: 34%;
}


.nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
    width: 183px;
    height: 183px;
    margin: 0px 33px 35px 0px;
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-2 {
    margin: 0px 0px 35px 0px;

}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
    margin: 0px 33px 66px 0px;
    width: 184px;
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
    margin: 0px;
    width: 184px;
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nosotros__contenedor__imagenes-chicas__texto__subtitulo {
    width: 478px;
}

.imagen-texto {
    position: absolute;
    z-index: 4;
    top: 385rem;
}

.imagen-texto__nombre {
    color: #FFFFFF;
    font-size: 56px;
    margin: 0px 168px 0px 167px;
}

.imagen-texto__puesto {
    color: #FFFFFF;
    font-size: 30px;
    margin: 1px 214px 52px;
}

@media(width <=1580px) {
    .contenedor-imagen-1__nombre {
        position: absolute;
        top: 66%;
        left: 40%;
        font-size: 3.5rem;
    }

    .contenedor-imagen-1__puesto {
        position: absolute;
        font-size: 1.875rem;
        color: white;
        top: 79%;
        left: 45%;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 9rem;
        height: 9rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 9rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 9rem;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 36rem;
        height: 36rem;
        padding-left: 12%;
    }
}

@media(width <=1350px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8rem;
        height: 8rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8rem;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 25rem;
        height: 25rem;
    }

    .contenedor-imagen-1__nombre {
        position: absolute;
        top: 66%;
        left: 40%;
        font-size: 3rem;
    }

    .contenedor-imagen-1__puesto {
        position: absolute;
        font-size: 1.375rem;
        color: white;
        top: 84%;
        left: 50%;
    }

    .nosotros__contenedor__imagenes-chicas__texto {
        width: 29.875rem;
        height: 12.1875rem;
        margin: 4.3125rem 2.625rem 4.6875rem 2.625rem;
    }
}

@media(width <=1150px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8rem;
        height: 8rem;
        margin: 30px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8rem;
        margin: 30px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8rem;
        margin: 30px;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 19rem;
        height: 19rem;
        padding-left: 20%;
        padding-top: 20%;
    }

    .contenedor-imagen-1__nombre {
        position: absolute;
        top: 67%;
        left: 48%;
        font-size: 2rem;
    }

    .contenedor-imagen-1__puesto {
        position: absolute;
        font-size: 1rem;
        color: white;
        top: 81%;
        left: 55%;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 80%;
    }

    .nosotros__contenedor__imagenes-chicas__texto {
        width: 29.875rem;
        height: 12.1875rem;
        margin: 4.3125rem 2.625rem 4.6875rem 2.625rem;
    }
}

@media(width <=992px) {
    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8rem;
        height: 8rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 15rem;
        height: 15rem;
        padding-left: 30%;
        margin: 0px 0px;
    }

    .contenedor-imagen-1__nombre {
        position: absolute;
        top: 65%;
        left: 40%;
        font-size: 2rem;
        width: 100%;
    }

    .contenedor-imagen-1__puesto {
        position: absolute;
        font-size: 1rem;
        color: white;
        top: 83%;
        left: 50%;
        width: 100%;
    }

    .nosotros__contenedor__imagenes-chicas__texto {
        width: 29.875rem;
        height: 12.1875rem;
        margin: 4.3125rem 1rem 4.6875rem 1rem;
    }
}

@media(width <=870px) {
    .nosotros__contenedor__imagen-grande {
        position: absolute;
        top: 23%;
        left: 29%;
    }

    .contenedor-imagen-1__nombre {
        position: absolute;
        top: 65%;
        left: 25%;
        font-size: 1.8rem;
        width: 100%;
        z-index: 1;
    }

    .contenedor-imagen-1__puesto {
        position: absolute;
        font-size: 1.175rem;
        color: white;
        top: 77%;
        left: 27%;
        z-index: 1;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-1 {
        width: 8.6rem;
        height: 8.6rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-3 {
        width: 8.6rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes__imagen-4 {
        width: 8.6rem;
        margin: 20px;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        padding-top: 0%;
        margin: 0px 0px;
    }

    .nosotros__contenedor__imagenes-chicas__texto {
        width: 100%;
        height: 12.1875rem;
        margin: 0rem;
    }

    .nosotros__contenedor {
        flex-direction: column;
        position: relative;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 35%;
        margin: 5rem 0rem 5rem 9rem;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0px 0px 0px 14%;
        width: 75%;
    }

    .nosotros__contenedor__imagenes-chicas__texto__titulo {
        font-size: 3rem;
        color: #FFFFFF;
        text-align: center;
    }
}

@media(width <=780px) {
    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 70%;
        margin: 0px 0px 0px 18%;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 5rem 0rem 5rem 7rem;
    }
}

@media(width <=700px) {
    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
    }

    .nosotros__contenedor__imagen-grande {
        top: 22%;
        left: 20%;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 75%;
        margin: 0px 0px 0px 15%;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes {
        padding-top: 35%;
    }
}

@media(width <=600px) {
    .nosotros__contenedor__imagen-grande {
        top: 26%;
        left: 10%;
    }

    .contenedor-imagen-1__puesto {
        position: absolute;
        font-size: 1.175rem;
        color: white;
        top: 77%;
        left: 27%;
        z-index: 1;
        width: 50%;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 21.5rem;
        height: 21.5rem;
        padding-left: 0%;
        margin: 0px 0px;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        width: 75%;
        margin: 0px 0px 0px 12%;
    }

    .nosotros__contenedor__imagenes-chicas__texto {
        width: 100%;
        height: 12.1875rem;
        margin: 0rem 0rem;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes {
        padding-top: 60%;
        margin: 5rem 0rem 5rem 2.5rem;
    }
}

@media(width <=550px) {
    .card {
        min-width: 23rem;
    }

    .servicios {
        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: rgba(7, 153, 182, 0.6);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border-radius: 10px;
        margin: 0px 0px 50px;
        opacity: 1;
    }
}

@media(width <=500px) {
    .contenedor-imagen-1__nombre {
        top: 62%;
        left: 20%;
        font-size: 2rem;
    }

    .contenedor-imagen-1__puesto {
        font-size: 1rem;
        color: white;
        top: 77%;
        left: 29%;
        width: 75%;
    }

    .nosotros__contenedor__imagen-grande {
        top: 25%;
        left: 7%;
        width: 80%;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0px 0px 0px 10%;
        width: 80%;
        text-align: center;
    }

    .nosotros__contenedor__imagenes-chicas__texto__titulo {
        color: #FFFFFF;
        text-align: center;
        font-size: 2.5rem;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        top: 20%;
    }

    .nosotros__contenedor__imagenes-chicas__imagenes {
        padding-top: 60%;
        margin: 5rem 0rem 5rem 0rem;
        width: 375px;
    }
}

@media(width <=455px) {
    .nosotros__contenedor__imagen-grande {
        top: 24%;
        left: 10%;
        width: 65%;
    }

    .nosotros__contenedor__imagen-grande__imagen {
        width: 21rem;
        height: 21rem;
        padding-left: 0%;
        margin: 0px 0px;
    }

    .nosotros__contenedor__imagenes-chicas__texto__subtitulo {
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0px 0px 0px 4%;
        width: 89%;
        text-align: center;
    }

    .nosotros {
        width: 100%;
    }
}