.asi-trabajamos__contenedor {
    width: 1300px;
    height: 1550px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.laberinto {
    width: 950px;
    height: 1164px;
    position: absolute;
    z-index: -1;
    margin-top: 182px;
}

.asi-trabajamos__titulo {
    font-size: 48px;
    color: #206488;
    text-align: center;
    margin: 59px 391px 24px;
    line-height: 1;
}

.presentacion,
.registro,
.compromisos,
.implementacion,
.qa,
.entrega {
    /* width: 184px;
    height: 184px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entrega {
    justify-content: center;
    width: 54rem;
    margin-top: 5.5rem;
    margin-right: 0.2rem;

}

.presentacion {
    justify-content: flex-end;
    width: 54rem;
    margin-top: -37.5rem;

}

.registro {
    justify-content: flex-start;
    width: 54rem;
    margin-top: 2.7rem;
    margin-right: 13rem;
}

.compromisos {
    justify-content: flex-end;
    width: 54rem;
    margin-top: 2.4rem;
}

.implementacion {
    justify-content: flex-start;
    width: 54rem;
    margin-top: 3.2rem;
    margin-right: -6.4rem;
}

.qa {
    justify-content: flex-end;
    width: 54rem;
    margin-top: 2.8rem;
    margin-right: 18.3rem;
}

.proceso__elemento-1 {
    width: 174px;
    height: 174px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s ease;
}

.proceso__elemento-2 {
    width: 174px;
    height: 174px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;
}

.proceso__elemento-3 {
    width: 174px;
    height: 174px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s ease;
}

.proceso__elemento-4 {
    width: 174px;
    height: 174px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s ease;
}

.proceso__elemento-5 {
    width: 174px;
    height: 174px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;
}

.proceso__elemento-6 {
    width: 174px;
    height: 174px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.animado {
    width: 540px;
    height: 174px;
    border-radius: 20px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
}

.animado-2 {
    width: 420px;
    height: 270px;
    border-radius: 20px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
}

.icono__icono-1 {
    position: relative;
    top: 1.6rem;
    left: 21.3rem;
    z-index: 999;
    cursor: pointer;
}

.icono__icono-2 {
    position: relative;
    top: 9rem;
    right: 28.3rem;
    z-index: 999;
    cursor: pointer;
}

.icono__icono-3 {
    position: relative;
    top: 17.3rem;
    left: 20rem;
    z-index: 999;
    cursor: pointer;
}

.icono__icono-4 {
    position: relative;
    top: 24rem;
    right: 18.5rem;
    z-index: 999;
    cursor: pointer;
}

.icono__icono-5 {
    position: relative;
    top: 31.3rem;
    left: 12.2rem;
    z-index: 999;
    cursor: pointer;
}

.icono__icono-6 {
    position: relative;
    top: 42rem;
    left: -0.2rem;
    z-index: 999;
    cursor: pointer;
}

.proceso__elemento-1__texto,
.proceso__elemento-3__texto,
.proceso__elemento-4__texto,
.proceso__elemento-5__texto {
    display: none;
    margin-right: 12rem;
    animation: deslizar 0.5s forwards;
}


.proceso__elemento-2__texto {
    display: none;
    animation: deslizarIzq 0.5s forwards;
    margin-left: 0rem;
    line-height: 0.5;
}

.proceso__elemento-3 {
    margin-right: 1.3rem;
    position: relative;
    top: 0.5rem;
    animation: deslizar 0.5s forwards;
}

.proceso__elemento-4__texto {
    display: none;
    animation: deslizarIzq 0.5s forwards;
    margin-left: 3rem;
    line-height: 0.5;
}

.proceso__elemento-4__texto {
    display: none;
    animation: deslizar 0.5s forwards;
    margin-left: 3rem;
    line-height: 0.5;
}

.proceso__elemento-5__texto {
    display: none;
    animation: deslizarIzq 0.5s forwards;
    margin-left: -4rem;
    line-height: 0.5;
}

.proceso__elemento-6__texto {
    display: none;
    margin-right: 0rem;
    animation: deslizarAbajo 0.5s forwards;
    margin-right: 0rem;
    margin-top: -9rem;
    line-height: 0.5;
    text-align: center;
}

@keyframes deslizar {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes deslizarIzq {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

@keyframes deslizarAbajo {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}


.visible {
    display: block;
}

.proceso__elemento-1__texto__titulo {
    font-size: 22.3px;
    color: #307ba3;
}

.proceso__elemento-2__texto__titulo {
    font-size: 22.3px;
    color: #307ba3;
}

.proceso__elemento-3__texto__titulo {
    font-size: 22.3px;
    color: #307ba3;
}

.proceso__elemento-4__texto__titulo {
    font-size: 22.3px;
    color: #307ba3;
}

.proceso__elemento-5__texto__titulo {
    font-size: 22.3px;
    color: #307ba3;
}

.proceso__elemento-6__texto__titulo {
    font-size: 22.3px;
    color: #307ba3;
}

.proceso__elemento-1__texto__item {
    line-height: 0.5;
    color: #307ba3;
    font-weight: 700;
}


.proceso__elemento-2__texto__item {
    line-height: 0.5;
    color: #307ba3;
    font-weight: 700;
}


.proceso__elemento-3__texto__item {
    line-height: 0.5;
    color: #307ba3;
    font-weight: 700;
}


.proceso__elemento-4__texto__item {
    line-height: 0.5;
    color: #307ba3;
    font-weight: 700;
}


.proceso__elemento-5__texto__item {
    line-height: 0.5;
    color: #307ba3;
    font-weight: 700;
}


.proceso__elemento-6__texto__item {
    line-height: 0.5;
    color: #307ba3;
    font-weight: 700;
}

.asi-trabajamos__contenedor-2 {
    display: none;
}

@media (width <=450px) {
    .asi-trabajamos__contenedor-2 {
        display: block;
        width: 340px;
        height: 1500px;
        backdrop-filter: blur(5px) saturate(180%);
        -webkit-backdrop-filter: blur(5px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.56);
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .asi-trabajamos__contenedor {
        display: none;
    }

    .laberinto-2 {
        position: absolute;
        top: 16rem;
    }

    .titulo {
        font-size: 48px;
        color: #206488;
        text-align: start;
        line-height: 1.3;
    }

    .presentacion-2,
    .registro-2,
    .compromisos-2,
    .implementacion-2,
    .qa-2,
    .entrega-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .presentacion-2 {
        margin: 26px 21px 92px 20px !important;
    }

    .registro-2 {
        margin: 0px 29px 94px 11px;
    }

    .compromisos-2 {
        margin: 0px 14px 92px 26px;
    }

    .implementacion-2 {
        margin-bottom: 80px;
    }

    .qa-2 {
        margin-bottom: 66px;
    }

    .entrega-2 {
        margin-top: 30px;
    }

    .animado {
        width: 300px;
        height: 95px;
        border-radius: 20px;
        backdrop-filter: blur(5px) saturate(180%);
        -webkit-backdrop-filter: blur(5px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.56);
    }

    .animado-2 {
        width: 300px;
        height: 193px;
        border-radius: 20px;
        backdrop-filter: blur(5px) saturate(180%);
        -webkit-backdrop-filter: blur(5px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.56);
    }

    .visible {
        display: block;
    }

    .icono-1,
    .icono-2,
    .icono-3,
    .icono-4,
    .icono-5,
    .icono-6 {
        width: 68px;
        height: 78px;
        cursor: pointer;

    }

    .icono-1,
    .icono-3,
    .icono-5 {
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .icono-2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .icono-4,
    .icono-6 {
        margin-left: 2rem;
        margin-right: 1rem;

    }

    .elemento-1,
    .elemento-2,
    .elemento-3,
    .elemento-4,
    .elemento-5 {
        width: 300px;
        height: 105px;
        backdrop-filter: blur(5px) saturate(180%);
        -webkit-backdrop-filter: blur(5px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.56);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.5s ease;
    }

    .elemento-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        width: 300px;
        height: 193px;
        backdrop-filter: blur(5px) saturate(180%);
        -webkit-backdrop-filter: blur(5px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.56);
        border-radius: 20px;
    }

    .elemento-1,
    .elemento-5,
    .elemento-3 {
        justify-content: flex-end;
    }

    .elemento-2,
    .elemento-4 {
        justify-content: flex-start;
    }

    .elemento-1__texto,
    .elemento-2__texto,
    .elemento-3__texto,
    .elemento-4__texto,
    .elemento-5__texto {
        display: block;
        animation: deslizar 0.5s forwards;
        line-height: 0;
    }

    .elemento-6__texto {
        text-align: center;
        line-height: 0;
    }

    .elemento-1__texto__titulo,
    .elemento-2__texto__titulo,
    .elemento-3__texto__titulo,
    .elemento-4__texto__titulo,
    .elemento-5__texto__titulo,
    .elemento-6__texto__titulo {
        font-size: 16px;
        color: #0799B6;
        margin-bottom: 22px;
    }

    .elemento-1__texto__item,
    .elemento-2__texto__item,
    .elemento-3__texto__item,
    .elemento-4__texto__item,
    .elemento-5__texto__item,
    .elemento-6__texto__item {
        font-size: 14px;
        color: #0799B6;
    }
}

@media (width <=375px) {
    .elemento-1 {
        margin: 26px 0px 0px;
    }

    .elemento-2 {
        margin: 10px 0px 0px 0px;
    }
}

@media (width <=768px) {

    .asi-trabajamos__contenedor {
        width: 768px;
        height: 1700px;
    }

    .asi-trabajamos__titulo {
        margin: 59px 194px 24px;
    }

    .laberinto {
        width: 700px;
        margin-top: 248px;
    }

    .presentacion,
    .registro,
    .compromisos,
    .implementacion,
    .qa,
    .entrega {
        width: 37rem;
    }

    .presentacion {
        margin-top: -37rem;
    }

    .registro {
        margin-top: 3.2rem;
        margin-right: 8rem;
    }

    .qa {
        margin-top: 2.8rem;
        margin-right: 7.3rem;
    }

    .icono__icono-1 {
        left: 13rem;
        top: 2.3rem;
    }

    .icono__icono-2 {
        top: 10rem;
        right: 17rem;
    }

    .icono__icono-3 {
        top: 18.3rem;
        left: 11.8rem;
    }

    .icono__icono-4 {
        top: 25.3rem;
        right: 10rem;
    }

    .icono__icono-5 {
        top: 32.3rem;
        left: 9.3rem;
    }

    .icono__icono-6 {
        top: 42.8rem;
    }
}