.navbar {
    width: 90%;
    height: 60px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
    margin: 110px 33px 20px;
    border: 2px solid #fff;
    transition: height 0.3s ease;
}

.navbar__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar__contenedor__bloque-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar__contenedor__bloque-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 15px 35px 15px 0px;
    transition: all 0.3s ease;
}

.navbar-marca {
    font-size: 20px;
    margin: 15px 40px 15px 35px;
    color: #fff;
}

.switch {
    margin: 16px 18px 15px 0px;
}

.llamada {
    width: 166px;
    height: 26px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.nav-item-1 {
    margin: 0px 18px;
}

.nav-item-2 {
    margin: 0px 18px 0px 0px;
}

.nav-link {
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
@media(width <= 710px){
    .navbar__contenedor__bloque-2 {
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 60px;
        left: 0;
        width: 100%;
    }
    #navContenedor.opened{
        height: 18rem;
    }

    #navbarNav.active{
        display: flex;
    }
    #navItem1.opened{
        font-size: 1.5rem;
        font-weight: bold;
        margin-inline:1rem;
        margin-block: 1rem;
    }
    #navItem2.opened{
        font-size: 1.5rem;
        font-weight: bold;
        margin-inline:1rem;
        margin-block: 1rem;
    }
    #navItem3.opened{
        font-size: 1.5rem;
        font-weight: bold;
        margin-inline:1rem;
        margin-block: 1rem;
    }
    .menu-toggle {
        display: flex;
        margin: 6px 17px
    }
    .bar {
        background-color: #fff;
        height: 2px;
        width: 30px;
        margin: 3px 0;
        border-radius: 2px;
    }
    .llamada{
        display: none;
    }
}

@media (max-width: 375px) {
    .navbar {
        width: 340px;
        height: 40px;
        margin: 80px 14px 0px 21px;
    }

    .navbar__contenedor {
        width: 340px;
        height: 40px;
    }

    .navbar__contenedor__bloque-1 {}

    .navbar-marca {
        width: 60px;
        height: 30px;
        margin: 6px 19px 5px 19px;
        font-size: 18px;
        font-weight: 700;
    }

    .switch {}

    .llamada {
        display: none;
    }
}