.contacto {
  width: 90%;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto__contenedor {
  width: 100%;
  height: 150px;
}

.contacto__contenedor__bloque {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.contacto__contenedor__bloque__titulo {
  margin: 54px 84px 53px 112px;
  color: #206488;
  font-size: 32px;
}

.contacto__contenedor__bloque__iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 93px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-1 {
  margin: 0px 20px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-2 {
  margin: 0px 20px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-3 {
  margin: 0px 20px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-4 {
  margin: 0px;
}

@media (max-width: 375px) {
  .contacto {
    width: 345px;
    height: 310px;
    margin: 21px 12px 24px 18px;
  }

  .contacto__contenedor {
    width: 345px;
    height: 310px;
  }

  .contacto__contenedor__bloque {
    flex-direction: column;
    width: 345px;
    height: 310px;
  }

  .contacto__contenedor__bloque__titulo {
    font-size: 34px;
    text-align: center;
    width: 305px;
    height: 186px;
    margin: 16px 21px 12px 19px;
  }

  .contacto__contenedor__bloque__iconos {
    width: 280px;
    height: 69px;
    margin: 0px 33px 27px 32px;
  }

}