.contacto {
  width: 1366px;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto__contenedor {
  width: 1300px;
  height: 150px;
}

.contacto__contenedor__bloque {
  width: 1300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  opacity: 0.8;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: #FFFFFf;
}

.contacto__contenedor__bloque__titulo {
  margin: 54px 84px 53px 112px;
  color: #206488;
  font-size: 32px;
}

.contacto__contenedor__bloque__iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 93px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-1 {
  margin: 0px 20px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-2 {
  margin: 0px 20px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-3 {
  margin: 0px 20px 0px 0px;
}

.contacto__contenedor__bloque__iconos__icono-4 {
  margin: 0px;
}