.servicios h1 {
  color: white;
}

.servicios p {
  color: white;
}

.servicios {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #0799B6;
  border-radius: 10px;
  margin: 0px 33px 50px;
  opacity: 1;
}

.servicios__encabezado {
  margin-inline: auto;
  opacity: 1;
}

.titulo {
  font-size: 3rem;
  text-align: center;
}

.parrafo {
  text-align: center;
  font-size: 1rem;
  padding-inline: 19%;
}

.servicios__cards {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  opacity: 1;
}

.card {
  margin: 0% 0.9375rem;
  min-width: 29.375rem;
  width: 303px;
  height: 32.6875rem;
  background-color: #8ed8ede2;
}

.tarjeta {
  width: 303px;
}

.card__textos {
  position: relative;
  padding-inline: 6%;
}

.card__titulo {
  font-size: 1.5rem;
  text-align: start;
}

.card__parrafo {
  font-size: 1rem;
  text-align: start;
}

.card__img {
  width: 26.25rem;
  height: 10rem;
  margin-top: 1.6875rem;
  padding-inline: 6%;
}

@media (max-width: 415px) {

  .servicios {
    width: 340px;
    display: flex;
    flex-direction: column;
    margin: 0px 14px 50px 21px;
  }

  .servicios__encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicios__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0rem;
    padding: 0rem 1rem 0.8rem 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 22.5px 0px 14.5px;
    width: 303px !important;
    background-color: transparent;
  }

  .tarjeta {
    min-width: 17rem !important;
  }

  .card__textos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 303px;
  }

  .card__img {
    width: 120px;
    height: 120px;
    margin: 0px 90.5px 24px 92.5px;
  }

  .card__titulo {
    font-size: 20px;
    margin: 0px 41.5px 16px 40.5px;
  }

  .card__parrafo {
    font-size: 16px;
    text-align: center;
    margin: 0px 14.5px 0px 14.5px;
  }

  .titulo {
    margin: 31px 16px 66px 10px;
    width: 314px;
    height: 46px;
    font-size: 34px;
  }

  .parrafo {
    font-size: 16px;
    width: 302px;
    height: 70px;
    text-align: center;
    margin: 0px 23px 48.33px 15px;
    padding: 0;
  }
}

#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #0799B6;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #0799B6;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #585593;
}