.proy-dest {
    width: 1366px;
    height: 1523px;
    background: #24262B 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proy-dest__cont {
    margin: 72px 143px 119px;
    background-color: #24262B;

}

.proy-dest__contenedor__titulo {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin: 0px;
}

.proy-dest__contenedor__frase {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 24px 301px 85px 301px;

}

.grilla__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grilla__contenedor_1_bloque-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grilla__contenedor_1_bloque-a-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grilla__contenedor_1_bloque-a-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grilla__contenedor_1_bloque-a-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grilla__contenedor_1_bloque-b {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imagen-1 {
    width: 712px;
    height: 504px;
    margin: 0px 24px 24px 0px;
}

.imagen-2,
.imagen-3,
.imagen-4 {
    width: 344px;
    height: 240px;
}

.imagen-2 {
    margin: 0px 24px 24px 0px;
}

.imagen-3 {
    margin: 0px 24px 24px 0px;
}

.imagen-4 {
    margin: 0px 0px 24px 0px;

}

.imagen-5 {
    width: 344px;
    height: 504px;
    margin: 0px 0px 24px 0px;
}

.imagen-6 {
    width: 344px;
    height: 344px;
    margin: 0px 24px 0px 0px;

}

.imagen-7 {
    width: 712px;
    height: 344px;
}

.imagen-8 {
    position: absolute;
    z-index: 5;
    top: 163rem;
}