.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../public/images/Rectángulo\ 38@2x.webp');
    background-size: cover;
    margin-top: -59px;
    
}

html{
    scroll-behavior: smooth;
}

h2 {
    color: #fff;
}

a {
    text-decoration: none;
}

@media (max-width: 375px) {
    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: grey;
        background-image: url('../public/images/Fondo-mobile.webp');
        /* width: 375px; */
        margin-top: -38px;
    }
}