.proy-dest {
    width: 90%;
    height: 1450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7ADADE;
    border-radius: 10px;
}

.proy-dest__cont {
    width: 100%;
    height: 1450px;
    margin: 0px 424px 24px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.proy-dest__contenedor {
    width: 764px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.proy-dest__contenedor__titulo {
    font-size: 48px;
    color: #fff;
    text-align: center;
    /* margin: 84px 424px 24px; */
    line-height: 1;
    width: 518px !important;
    height: 65px !important;
}

.proy-dest__contenedor__frase {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0px 268px 85px 269px;
    width: 764px;

}

.grilla__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grilla__contenedor_1_bloque-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grilla__contenedor_1_bloque-a-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grilla__contenedor_1_bloque-a-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grilla__contenedor_1_bloque-a-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grilla__contenedor_1_bloque-b {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imagen-1 {
    width: 712px;
    height: 504px;
    margin: 0px 24px 24px 0px;
    background-image: linear-gradient(125deg, #E0EEF1, #FFFFFF, #C4E5EC);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.imagen-2,
.imagen-3,
.imagen-4 {
    width: 344px;
    height: 240px;
    background-image: linear-gradient(125deg, #E0EEF1, #FFFFFF, #C4E5EC);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}

.imagen-2 {
    margin: 0px 24px 24px 0px;
}

.imagen-3 {
    margin: 0px 24px 24px 0px;
}

.imagen-4 {
    margin: 0px 0px 24px 0px;

}

.imagen-5 {
    width: 344px;
    height: 504px;
    margin: 0px 0px 24px 0px;
    background-image: linear-gradient(125deg, #E0EEF1, #FFFFFF, #C4E5EC);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}

.imagen-5-img {
    width: 317px;
    height: 465px;
}

.imagen-6-img {
    width: 309px;
    height: 309px;
}



.imagen-6 {
    width: 344px;
    height: 344px;
    margin: 0px 24px 0px 0px;
    background-image: linear-gradient(125deg, #E0EEF1, #FFFFFF, #C4E5EC);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}

.imagen-7 {
    width: 712px;
    height: 344px;
    background-image: linear-gradient(125deg, #E0EEF1, #FFFFFF, #C4E5EC);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}


.grilla-movil-visible {
    display: none;
}

.grilla-visible {
    display: block;
}

@media (width <=450px) {
    .proy-dest {
        width: 340px;
        height: 950px;
        border-radius: 10px;
    }

    .proy-dest__cont {
        width: 340px;
        height: 950px;
        margin: 0px 24px 24px;
    }

    .proy-dest__contenedor {
        height: 196px;
        width: 312px;
    }

    .proy-dest__contenedor__titulo {
        height: 126px;
        width: 312px !important;
        margin: 31px 14px 65px 14px;
        text-align: start;
        font-size: 48px;
    }

    .proy-dest__contenedor__frase {
        margin: 0px 19px;
        width: 312px;
    }

    .grilla-movil {
        width: 302px;
        height: 648px;
        margin-top: 73px;
    }

    .grilla__contenedor__bloque-2 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .grilla__contenedor__bloque-2__a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .grilla__contenedor__bloque-2__b {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .grilla__contenedor__bloque-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .imagen-1-movil {
        margin-bottom: 8px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .imagen-2-movil,
    .imagen-5-movil {
        width: 146px;
        height: 96px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .imagen-3-movil,
    .imagen-4-movil {
        width: 146px;
        height: 216px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .imagen-2-movil {
        margin-right: 10px;
        margin-bottom: 8px;
    }

    .imagen-3-movil {
        margin-right: 10px;
    }

    .imagen-4-movil {
        margin-bottom: 8px;
    }

    .imagen-6-movil {
        width: 96px;
        height: 96px;
        border-radius: 10px;
        margin-right: 8px;
        margin-top: 8px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .imagen-7-movil {
        width: 198px;
        height: 96px;
        border-radius: 10px;
        margin-top: 8px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .grilla-movil-visible {
        display: block;
    }

    .grilla-visible {
        display: none;
    }


}